/*Variables*/
:root{
    --primary-color:#047aed;

    --dark-primary-color:#002240;


}



/* utility*/
.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex{
    display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}


.grid{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.grid-3{
    grid-template-columns: repeat(3,1fr);
}


.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn:hover{
    transform: scale(.90);
}

.btn-outline{
    background-color: #00000000;
    border: 1px solid #fff;
}


.bg-primary ,.btn-primary{
    background-color: var(--primary-color);
    color: #fff;}

.bg-secondary ,.btn-secondary{
    background-color: var(--secondary-color);
    color: #fff;
}

.bg-dark ,.btn-dark{
    background-color: var(--dark-primary-color);
    color: #fff;
}




.bg-primary a,
.btn-primary a,
.bg-dark a,
.bt.btn-dark a,
.bg-secondary a,
.btn-secondary a{
color: #fff;
}

.text-center{
    text-align: center;
}

.lead{
    font-size: 20px;
}
.sm{
    font-size: 1rem;

}

.md{
    font-size: 2rem;
}

.lg{
    font-size: 3rem;
}

.xl{
    font-size: 4rem;
}


/*utility margins*/

.my-1{
    margin: 1rem 0;
}

.my-2{
    margin: 1.5rem 0;
}

.my-3{
    margin: 2rem 0;
}
.my-4{
    margin: 3rem 0;
}
.my-5{
    margin: 4rem 0;
}

.m1{
    margin: 1rem ;
}

.m2{
    margin: 1.5rem ;
}

.m3{
    margin: 2rem ;
}
.m4{
    margin: 3rem ;
}
.m5{
    margin: 4rem ;
}


/*utility padding*/

.py-1{
padding: 1rem 0;
}

.py-2{
    padding: 1.5rem 0;
}

.py-3{
    padding: 2rem 0;
}
.py-4{
    padding: 3rem 0;
}
.py-5{
    padding: 4rem 0;
}

.p1{
    padding: 1rem ;
}

.p2{
    padding: 1.5rem ;
}

.p3{
    padding: 2rem ;
}
.p4{
    padding: 3rem ;
}
.p5{
    padding: 4rem ;
}



/* default */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    font-family: 'Lato',sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}


h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;

}
p{
    margin: 10px 0;
}

img{
    width: 100%;
}













/* Navbar */

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar .flex{
    justify-content: space-between;
}


.navbar ul{
    display: flex;

}
.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom: 2px solid #fff;
}




/*stats*/

.stats{
    padding-top: 100px;
}


.stats-heading{
    max-width: 500px;
    margin: auto;
}

.stats .grid h3{
    font-size: 35px;
}

.stats .grid p{
    font-size: 20px;
    font-weight: bold;
}


/* CLI*/

.cli .grid{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.cli .grid >*:first-child{
    grid-column: 1/span 2;
    grid-row: 1/span 2;
}
.puzzle-img{
    max-width: 500px;
    height: auto;
    
}
.img-icon{
    max-width: 80px;
}
.img-icon-social{
    max-width: 30px;
}

/*Cloud*/
.cloud .grid{
    grid-auto-columns: 4f 3fr;
}

/*languages*/

.languages .flex{
    flex-wrap: wrap;
}
.languages .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.languages .card:hover{
    transform: translateY(-30px);
}
.languages .card h4{
    font-size: 20px;
    margin-bottom: 10px;
}



/*footer*/
.footer .social{
    margin: 0 10px;
  
}
.footer .social .img-icon-social{
    margin: 0 3px;
  
}




/*tablets and under*/
@media(max-width:768px){
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase{
        height: auto;
    }
    .showcase-text{
        text-align: center;
        margin-top: 40px;
    }
    .showcase-form{
        justify-self: center;
        margin: auto;
    }

    .cli .grid>*:first-child{
        grid-column: 1;
        grid-row: 1;
    }

 

}

/*Mobile screen*/
@media(max-width:500px){

    .navbar{
        height: 110px;

    }
    .navbar .flex{
        flex-direction: column;
    }
    .navbar ul{
        padding: 10px;
        background-color: rgba(0,0,0,0.1);
    }
    
}


.text-left{
    text-align: left;
}

.grid-1{
    grid-template-columns: 1fr;
}

.red{
    color: red;
}

.uframe{
  display: flex;
  justify-content: center;
  
    
}
#frame{
    width: 100%;
    height: 300px;
    
}
.mx-3{
    margin-left: 3rem;
}
